*{
    margin: 0;
    padding: 0;
}
.scond-header {
    background: linear-gradient(60deg, #02aab0, #00cdac, #26a69a);
    margin: 0;
}

.navbar li a {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 17px;
    font-weight: 700;
}

.dropdown-menu li a {
    color: black;
}


.nav-item {
    position: relative;
}

.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1050;
    min-width: 200px;
}


.dropdown-menu li a:hover {
    background-color: #f0f0f0;
    color: #ff5500;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.nav-link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.nav-link:hover {
    color: #ddd;
}

.fa-caret-down {
    margin-left: 5px;
}



/* ---------------------------underline link css----------------------- */
.underline-link-1 {
    position: relative;
    text-decoration: none;
    color: inherit;
}

.underline-link-1::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 10px;
    background-color: #e64100;
    transition: width 0.3s ease-in-out;
}

.underline-link-1:hover::after,
.underline-link-1:focus::after {
    width: 100%;
}

.underline-link-1.active::after {
    width: 100%;
}

.dropdown-item:hover {
    background-color: #ec1111; 
    color: white; 
    width: auto;
  }

  .dropdown-item.active, .dropdown-item:focus {
    background-color: #f28220; 
    color: white; 
  }

  .dropdown-menu{
        max-width: 400px;
  }

/* ---------------------------underline link css----------------------- */

@media only screen and (max-width: 576px) {

    .scond-header {
        background: linear-gradient(60deg, #02aab0, #00cdac, #26a69a);
        margin: 0;
    }
}